@{
    Layout = "~/Views/Shared/mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}

<button onclick="testTake()">测试</button>
<button onclick="testLogin()">登录</button>
<button onclick="sendExpress()">派件</button>
<button onclick="getSendExpress()">获取派件列表</button>
<button onclick="getReceiveExpress()">获取收件列表</button>
<button onclick="getOrderDetail()">获取订单明细</button>
<button onclick="OrderMove()">订单状态下移</button>
<button onclick="TempletAdd()">测试添加短信模板</button>
<button onclick="Templetget()">获取短信模板</button>
<button onclick="getVersion()">获取最新版本</button>
<script type="text/javascript">
    function testTake() {
        var params = {
            url: '/api/order/take',
            data: { 'courierid': '2015111300002', 'name': '测试二', 'phone': '345345345', 'orderid': '2015112700005' }
        }

        ajaxTo(params);
    }

    function testLogin() {
        var params = {
            url: '/api/user/loginCourier',
            data: { 'loginname': 'lsz', 'password': '123' },
            type:'get'
        }

        ajaxTo(params);
    }

    function sendExpress() {
        var params = {
            url: '/api/order/addSendExpress',
            data: { 'courierid': '2015111300002', 'expresscode': '123456789098761' }
        }

        ajaxTo(params);
    }
    
    function getSendExpress() {
        var params = {
            url: '/api/order/getSendExpress',
            data: { 'courierid': '2015111300002' },
            type: 'get'
        }

        ajaxTo(params);
    }

    function getReceiveExpress() {
        var params = {
            url: '/api/order/getReceiveExpress',
            data: { 'courierid': '2015111200007' },
            type: 'get'
        }

        ajaxTo(params);
    }

    function getOrderDetail() {
        var params = {
            url: '/api/order/getorderdetail',
            data: { 'orderid': '2015120800005' },
            type: 'get'
        }

        ajaxTo(params);
    }
    
    function OrderMove() {
        var params = {
            url: '/api/order/orderMove',
            data: { 'orderid': '2015121000005' },
            type: 'post'
        }

        ajaxTo(params);
    }

    function TempletAdd() {
        var params = {
            url: '/api/courier/AddSmsTemplet',
            data: { 'courierid': '2015111300002', 'templettext': '楼下' },
            type: 'post'
        }

        ajaxTo(params);
    }

    function Templetget() {
        var params = {
            url: '/api/courier/getSmsTemplet',
            data: { 'courierid': '2015111300002' },
            type: 'get'
        }

        ajaxTo(params);
    }

    function getVersion() {
        var params = {
            url: '/api/tools/getLastVersion',
            data: { 'currentVersion': '1.3.0' },
            type: 'get'
        }

        ajaxTo(params);
    }
</script>
